<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicePolicy1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Aseguradora/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePolicy1"
                contract="ServicePolicy.IServicePolicy" name="BasicHttpBinding_IServicePolicy1" />
        </client>
    </system.serviceModel>
</configuration>